<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.vphone.amfidont</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/makr/Library/Python/3.9/bin/amfidont</string>
		<string>daemon</string>
		<string>--spoof-apple</string>
		<string>--path</string>
		<string>/Applications/vphone-cli.app</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/var/log/vphone-amfidont.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/vphone-amfidont.log</string>
</dict>
</plist>
